:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.readReviewComponent {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
