<section class="gameCard">
  <section class="gameCardContainer">
    <section class="gameCardImageContainer">
      <img class="gameCardImage" [src]="'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nuuvem.com%2Fbr-pt%2Fitem%2Felden-ring&psig=AOvVaw1ggRGYz1Ivx5qgsXywDLE9&ust=1750996629201000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMChqfOYjo4DFQAAAAAdAAAAABAE'" alt="EldenRing">
    </section>

    <section class="gameCardInfo">
      <h2 class="gameCardTitle">{{ 'EldenRing' }}</h2>
      <p class="gameCardDescription">
        Elden Ring é um jogo de ação e RPG desenvolvido pela FromSoftware, conhecido por sua jogabilidade desafiadora e mundo aberto expansivo. Os jogadores exploram um vasto reino repleto de perigos, criaturas míticas e segredos ocultos, enquanto buscam restaurar o Elden Ring e se tornarem o Elden Lord.
      </p>
      <p class="gameCardRating">Avaliação: {{ 10 }}</p>
    </section>
  </section>
</section>>