.errorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.errorTitle {
  font-size: 3rem;
  color: #dc3545;
  margin-bottom: 1rem;
}

.errorInfo {
  font-size: 1.25rem;
  color: #6c757d;
  margin-bottom: 2rem;
}
